# Work results
data/derived/
results
*.log
.DS_Store

# Paper build
paper/*
!*.tex
!*.cls
!*.bib

################################################################################
### End of default gitignore
################################################################################
