# Work results
data/derived/
results
*.log

################################################################################
### End of default gitignore
################################################################################
